@charset "UTF-8";
/*********************** FUENTES GOOGLE MAPS ***********************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*********************** GENERAL ***********************/
body { padding: 0; margin: 0; font-family: 'Montserrat', sans-serif; background: #000; }
ul { padding: 0; margin: 0; list-style: none; }
img { display: block; width: 100%; border: none; }
a { text-decoration: none; color: inherit; display: block; cursor: pointer; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.contenedor { width: 1200px; margin: 0px auto; position: relative; }
.btn_movil { width: 40px; float: right; position: relative; top: 0; margin: 10px 0; border: 1px solid #fff; cursor: pointer; -webkit-transition: all .5s ease;  -moz-transition: all .5s ease;  -o-transition: all .5s ease;  transition: all .5s ease; }
p { font-size: 18px; line-height: 26px; color: #242424; font-weight: 400; margin: 20px 0px; -webkit-transition: all .4s ease; -moz-transition: all .4s ease; -o-transition: all .4s ease; transition: all .4s ease; }
* { box-sizing: border-box; }
*:focus { outline: none; }
.pc { display: block; }
.movil { display: none; }
section { position: relative; }
.clicInicial { position: absolute; top: 50%; left: 50%; background: #000; color: #FFF; padding: 10px 0; text-transform: uppercase; letter-spacing: 2px; margin-left: -87.5px; margin-top: -20px; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; width: 200px; text-align: center; }
.clicInicial:hover { background: #CCC; color: #000; letter-spacing: 5px; padding: 10px 0; border-radius: 10px; width: 250px; }

::selection { background: #5eaeba; color: #fff; }
::-moz-selection { background: #5eaeba; color: #fff; }

.boton { display: block; margin: 0px auto; width: 520px; padding: 30px 0px; background: #4568bc; border: 3px solid #4568bc; border-radius: 20px; color: #fff; font-size: 23px; font-weight: 500; line-height: 23px; text-align: center; cursor: pointer; -webkit-box-shadow: 0px 10px 5px 0px rgba(69, 104, 188, 0.15); -moz-box-shadow: 0px 10px 5px 0px rgba(69, 104, 188, 0.15); box-shadow: 0px 10px 5px 0px rgba(69, 104, 188, 0.15); -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.boton:hover, .boton:disabled { opacity: 0.6; }
.flotanteWapp { width: 70px; height: 70px; background-color: rgba(126, 186, 39, 0.6); text-align: center; border-radius: 50%; position: fixed; top: 130px; right: 100px; z-index: 100; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1); box-shadow: 0 0 0 0 #7eba27; }
.btnFlotante { width: 70px; height: 70px; background: #7eba27; border-radius: 50%; display: flex; text-align: center; position: fixed; bottom: 60px; right: 100px; z-index: 100; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; animation: zoom 1s infinite ease-in; }
.btnFlotante:hover { background: rgba(0, 0, 0, 0.8); }
.btnFlotante img { width: 40px; margin: auto; }

/************************ ANIMACIONES ***********************/
@-webkit-keyframes zoom { 0%{transform: scale(1);} 50%{transform: scale(1.2);} 100%{transform: scale(1);} }
@-moz-keyframes zoom { 0%{transform: scale(1);} 50%{transform: scale(1.2);} 100%{transform: scale(1);} }
@-ms-keyframes zoom { 0%{transform: scale(1);} 50%{transform: scale(1.2);} 100%{transform: scale(1);} }
@keyframes zoom { 0%{transform: scale(1);} 50%{transform: scale(1.2);} 100%{transform: scale(1);} }
@-webkit-keyframes slide { 0%{transform: translateX(100%);} 100%{transform: translateX(0);} }
@-moz-keyframes slide { 0%{transform: translateX(100%);} 100%{transform: translateX(0);} }
@-ms-keyframes slide { 0%{transform: translateX(100%);} 100%{transform: translateX(0);} }
@keyframes slide { 0%{transform: translateX(100%);} 100%{transform: translateX(0);} }
@-webkit-keyframes pulse { to{box-shadow: 0 0 0 45px rgba(232, 76, 61, 0.01);} }
@-moz-keyframes pulse { to{box-shadow: 0 0 0 45px rgba(232, 76, 61, 0.01);} }
@-ms-keyframes pulse { to{box-shadow: 0 0 0 45px rgba(232, 76, 61, 0.01);} }
@keyframes pulse { to{box-shadow: 0 0 0 45px rgba(232, 76, 61, 0.01);} }

/*********************** CONTENEDORES ***********************/
.conteRight { width: 50%;float: right; }
.conteLeft { width: 50%;float: left; }

/*
ANIMACIONES HTML5

-webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; 

-webkit-transform:scale(1.15); -moz-transform:scale(1.15); -ms-transform:scale(1.15); -o-transform:scale(1.15); transform:scale(1.15); 

-ms-transform: rotate(7deg); -webkit-transform: rotate(7deg); transform: rotate(7deg); 

-webkit-transition: all 500ms cubic-bezier(0.680, 0, 0.265, 1); -webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); -moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); -o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
*/

/*********************** CLEAR ***********************/
.clear { clear: both;height: 0px; }
.clear5 { clear: both;height: 5px; }
.clear10 { clear: both;height: 10px; }
.clear15 { clear: both;height: 15px; }
.clear20 { clear: both;height: 20px; }
.clear30 { clear: both;height: 30px; }
.clear40 { clear: both;height: 40px; }

/*********************** TEXTOS ***********************/
.textCenter { text-align: center; }
.textRight { text-align: right; }
.textLeft { text-align: left; }
.textBold { font-weight: bold; font-size: 22px; line-height: 25px; }
.textSeparado { letter-spacing: 3px; text-transform: uppercase; font-weight: 500; }
/*********************** FORMULARIOS ERROR ***********************/
label.error { display: none!important; }
input.error { border: 3px solid #f00!important; }
select.error { border: 3px solid #f00!important; }
textarea.error { border: 3px solid #f00!important; }

/*********************** H1 - H6 ***********************/
h1, h2, h3, h4, h5 { padding: 0; margin: 0; }
h1 { color: #3b7ab9; font-size: 55px; font-weight:800; text-transform: uppercase; }
h2 { color: #068642; font-size: 28px; font-weight:800; letter-spacing: 5px; text-transform: uppercase; }
h3 { color: #3b7ab9; font-size: 25px; font-weight: 800; letter-spacing: 5px; text-transform: uppercase;}
h4 { color: #4568bc; font-size: 23px; font-weight: 600; line-height: 30px; }
h5 { color: #231f20; font-size: 22px; font-weight: 700; line-height: 34px; }

/*********************** COLUMNAS ***********************/
.col2 li { float: left; width: 50%; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; position: relative; }
.col3 li { float: left; width: 33.33%; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; position: relative; }
.col4 li { float: left; width: 25%; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; position: relative; }
.col5 li { float: left; width: 20%; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; position: relative; }
.col6 li { float: left; width: 16.66%; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; position: relative; }
.col7 li { float: left; width: 14.28%; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; position: relative; }
.col8 li { float: left; width: 12.5%; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; position: relative; }
.col9 li { float: left; width: 11%; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; position: relative; }

/*********************** BOTON MENU MOVIL ***********************/
/*
.nav-button { margin: 0px auto; float: right; margin-top: 25px; width: 42px; height: 25px; cursor: pointer; }
.nav-button #burger { position: relative; -webkit-transform: rotate(0deg); transform: rotate(0deg); }
.nav-button #burger span { display: block; position: absolute; height: 4px; width: 100%; background: #FFF; border-radius: 9px; opacity: 1; left: 0; -webkit-transform: rotate(0deg); transform: rotate(0deg); transition: 0.3s ease-in-out; }
.nav-button #burger span:nth-child(1) { top: 0; }
.nav-button #burger span:nth-child(2), .nav-button #burger span:nth-child(3) { top: 10px; }
.nav-button #burger span:nth-child(4) { top: 20px; }
.nav-button #burger.active-sandwich span:nth-child(1) { top: 0px; width: 0%; left: 50%; opacity: 0; }
.nav-button #burger.active-sandwich span:nth-child(2) { -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.nav-button #burger.active-sandwich span:nth-child(3) { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.nav-button #burger.active-sandwich span:nth-child(4) { top: 18px; width: 0%; left: 50%; opacity: 0; }
.menu-wrapper { overflow: hidden; max-width: 100%; cursor: pointer; }
.menu-wrapper .btn-menu { float: right; position: relative; width: 45px; height: 40px; margin: 15px; }
.menu-wrapper .btn-menu span { opacity: 1; right: 0; display: block; width: 100%; height: 4px; border-radius: 10px; color: black; background-color: white; position: absolute; transform: rotate(0deg); transition: .4s ease-in-out; }
.menu-wrapper .btn-menu span:nth-child(1) { top: 0; }
.menu-wrapper .btn-menu span:nth-child(2) { top: 14px; }
.menu-wrapper .btn-menu span:nth-child(3) { top: 28px; }
.menu-wrapper .btn-menu.open span:nth-child(1) { transform: translateY(14px) rotate(135deg); }
.menu-wrapper .btn-menu.open span:nth-child(<2) { opacity: 0; transform: translateX(60px); }
.menu-wrapper .btn-menu.open span:nth-child(3) { transform: translateY(-14px) rotate(-135deg); }
*/

/*********************** HEADER ***********************/
header {  }

.autorPost { font-size: 15px; margin-bottom: 40px; }
.blog { padding-top: 200px; }
.blog .seccion1 .conteLeft, .blog .seccion1 .conteRight { width: 70%; }
.blog .seccion1 .conteLeft .imgPost { position: relative; box-shadow: 0px 0px 5px rgba(0,0,0,.3); width: 100%; margin: 0px auto; border: 2px solid #fff; }
.blog .seccion1 .conteLeft .col2 li { text-align: right; }
.blog .seccion1 .conteLeft .col2 li i { margin-right: 10px; }
.blog .seccion1 .conteLeft .col2 li:nth-child(1) { width: 75%; padding-right: 30px; }
.blog .seccion1 .conteLeft .col2 li:nth-child(2) { width: 25%; padding-right: 30px; }
.infoPost { position: absolute; bottom: 0; left: 0; width: 100%; background-color: rgba(6, 158, 145, 0.7); padding: 13px; color: #FFF; font-size: 14px; }
.blog .seccion1 .conteLeft .tituloPost { color: #069e91; text-transform: uppercase; font-size: 20px; margin: 30px 0px; line-height: 1; letter-spacing: 6px; }
.blog .seccion1 .conteLeft p { font-size: 14px; text-align: justify; text-align-last: left; }

.blog .seccion1 .conteLeft .conteCompartir { position: relative; padding-bottom: 30px; border-bottom: 2px solid #069e91; }
.blog .seccion1 .conteLeft .conteCompartir h3 { text-align: center; font-size: 20px; text-transform: uppercase; color: #6f6f6f; z-index: 2; background: #FFF; width: 20%; margin: 0px auto; margin-bottom: 20px; }
.blog .seccion1 .conteLeft .conteCompartir h3::before { content: ''; display: block; border: 1px solid #069e91; width: 100%; position: absolute; top: 11px; left: 0; z-index: -1; }
.blog .seccion1 .conteLeft .conteCompartir ul.col4 { width: 300px; background: #069e91; border-radius: 5px; position: relative; margin: 0px auto; }
.blog .seccion1 .conteLeft .conteCompartir ul.col4 li {  }
.blog .seccion1 .conteLeft .conteCompartir ul.col4 li a { font-size: 14px; text-align: center; line-height: 30px; padding: 5px; color: #fff; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.blog .seccion1 .conteLeft .conteCompartir ul.col4 li a:hover { background-color: rgba(255,255,255,.3); }
.blog .seccion1 .conteRight { width: 30%; padding-left: 20px; }
.blog .seccion1 .conteRight h4 { color: #999; font-size: 20px; text-transform: uppercase; margin: 0; }
.blog .seccion1 .conteRight form { margin-bottom: 10px; }
.blog .seccion1 .conteRight input:not([type="submit"]) { width: 68%; -webkit-appearance: textfield; border: 1px solid #069e91; padding: 13px; }
.blog .seccion1 .conteRight input[type="submit"]{ background-color: #069e91; width: 30%; border: none; position: relative; color: #fff; font-size: 13px; cursor: pointer; text-transform: uppercase; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; padding: 14px; }
.blog .seccion1 .conteRight .itemCategoria { padding: 8px; position: relative; background: #069e91; color: #FFF; font-size: 14px; margin-bottom: 2px; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.blog .seccion1 .conteRight .itemCategoria:hover, .categoriaActiva { padding-left: 15px!important; opacity: .5!important; }
.blog .seccion1 .conteRight .itemTag { padding: 5px; display: inline-block; color: #FFF; font-size: 12px; background: #9e9b9d; margin-bottom: 2px; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.blog .seccion1 .conteRight .itemTag:hover, .tagActiva { background: #069e91!important; }

/*********************** BLOG - RELACIONADOS ***********************/
.blog .seccion2 { background: #f5f5f5; padding: 30px 0; margin-top: 50px; }
.blog .seccion2 h3 { color: #6f6f6f; font-size: 22px; text-transform: uppercase; background: #f5f5f5; position: relative; text-align: center; }
.blog .seccion2 .conteRelacionados ul.col2 { width: 90%; margin: 0px auto; margin-top: 40px; }
.blog .seccion2 .conteRelacionados ul.col2 li {  }
.blog .seccion2 .conteRelacionados ul.col2 li .bgPostR { width: 40%; border: 2px solid #fff; box-shadow: 0px 0px 5px rgba(0,0,0,.3); border-radius: 4px; background-size: cover; background-repeat: no-repeat; background-position: center center; height: 180px; float: left; }
.blog .seccion2 .conteRelacionados ul.col2 li .infoR { float: left; width: 55%; margin-left: 16px; padding-right: 10px; }
.blog .seccion2 .conteRelacionados ul.col2 li .infoR .tituloR { color: #069e91; text-transform: uppercase; font-size: 14px; margin: 10px 0px 10px 0px; font-weight: 700; }
.blog .seccion2 .conteRelacionados ul.col2 li .infoR .fechaR { color: #666; font-size: 13px; }
.blog .seccion2 .conteRelacionados ul.col2 li .infoR .descR { color: #666; font-size: 14px; margin: 15px auto; text-align: left; line-height: 1; }
.blog .seccion2 .conteRelacionados ul.col2 li .infoR a { color: #FFF; background: #069e91; width: 150px; text-align: center; text-transform: uppercase; font-size: 12px; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; padding: 7px; font-weight: 700; letter-spacing: 2px; }
.blog .seccion2 .conteRelacionados ul.col2 li .infoR a:hover { opacity: .5; width: 180px; }

/*********************** BLOG - CATEGORIA ***********************/
.categoriaBlog .itemPost { margin-bottom: 40px; }
.categoriaBlog .itemPost .bg { background-size: cover; background-position: center; background-repeat: no-repeat; height: 300px; border: 2px solid #FFF; box-shadow: 0px 0px 5px rgba(0,0,0,.3); border-radius: 4px; position: relative; }
.categoriaBlog .tituloP { color: #069e91; text-transform: uppercase; font-size: 20px; margin: 10px; }
.categoriaBlog .descP { color: #666; font-size: 14px; margin: 10px; }
.categoriaBlog a.verMas { color: #FFF; background: #069e91; width: 150px; text-align: center; text-transform: uppercase; font-size: 12px; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; padding: 7px; font-weight: 700; letter-spacing: 2px; margin: 10px; }
.categoriaBlog a.verMas:hover { opacity: .5; width: 180px; }

/*********************** BLOG - BUSCADOR ***********************/
.buscadorBlog .itemPost { margin-bottom: 40px; }
.buscadorBlog .itemPost .bg { background-size: cover; background-position: center; background-repeat: no-repeat; height: 300px; border: 2px solid #FFF; box-shadow: 0px 0px 5px rgba(0,0,0,.3); border-radius: 4px; position: relative; }
.buscadorBlog .tituloP { color: #069e91; text-transform: uppercase; font-size: 20px; margin: 10px; }
.buscadorBlog .descP { color: #666; font-size: 14px; margin: 10px; }
.buscadorBlog a.verMas { color: #FFF; background: #069e91; width: 150px; text-align: center; text-transform: uppercase; font-size: 12px; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; padding: 7px; font-weight: 700; letter-spacing: 2px; margin: 10px; }
.buscadorBlog a.verMas:hover { opacity: .5; width: 180px; }

/*********************** PAGINADOR BLOG ***********************/
.pagination { padding-left: 0; border-radius: 4px; margin: 0px auto; display: table; }
.pagination > li { display: inline; }
.pagination > li > a, .pagination > li > span { position: relative; float: left; padding: 6px 12px; margin-left: -1px; line-height: 1.42857143; color: #069e91; text-decoration: none; background-color: #fff; border: 1px solid #ddd; }
.pagination > li:first-child > a,
.pagination > li:first-child > span { margin-left: 0; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.pagination > li:last-child > a, .pagination > li:last-child > span { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus { z-index: 2; color: #23527c; background-color: #eee; border-color: #ddd; }
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus { z-index: 3; color: #fff; cursor: default; background-color: #069e91; border-color: #069e91; }
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus { color: #777; cursor: not-allowed; background-color: #fff; border-color: #ddd; }
.pagination-lg > li > a, .pagination-lg > li > span { padding: 10px 16px; font-size: 18px; line-height: 1.3333333; }
.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span { border-top-left-radius: 6px; border-bottom-left-radius: 6px; }
.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span { border-top-right-radius: 6px; border-bottom-right-radius: 6px; }
.pagination-sm > li > a, .pagination-sm > li > span { padding: 5px 10px; font-size: 12px; line-height: 1.5; }
.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span { border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.pager { padding-left: 0; margin: 20px 0; text-align: center; list-style: none; }
.pager li { display: inline; }
.pager li > a, .pager li > span { display: inline-block; padding: 5px 14px; background-color: #fff; border: 1px solid #ddd; border-radius: 15px; }
.pager li > a:hover, .pager li > a:focus { text-decoration: none; background-color: #eee; }
.pager .next > a, .pager .next > span { float: right; }
.pager .previous > a, .pager .previous > span { float: left; }
.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span { color: #777; cursor: not-allowed; background-color: #fff; }

/*********************** 404 ***********************/
.conte404 { padding: 100px 0; padding-top: 170px; }
.conte404 i { color: #FFF; font-size: 250px; text-align: center; display: block; }
.conte404 h1 { font-weight: 400; font-size: 150px; line-height: inherit; margin-top: 10px; }
.conte404 h1 span { font-size: 24px; line-height: inherit; font-weight: 100; }

/*********************** MEDIAS QUERIES ***********************/
@media screen and (min-width: 320px) and (max-width: 479px) {
	/*********************** GENERAL ***********************/
	.contenedor { width: 95%; }
	.movil { display: block; }

	/*********************** BLOG ***********************/
    .blog { padding-top: 50px; }
    .blog .seccion1 .conteLeft { width: 100%; }
    .categoriaBlog .itemPost .bg { height: 200px; }
    .blog .seccion1 .conteLeft .col2 li { width: 50%!important; padding-right: 0!important; text-align: center; }
    .infoPost { padding: 8px; font-size: 12px; }
    .categoriaBlog .tituloP { font-size: 16px; }
    .blog .seccion1 .conteLeft p { font-size: 12px; margin: 0; line-height: 18px; }
    .categoriaBlog a.verMas { width: 100%; margin: 0; margin-top: 10px;letter-spacing: 1px; font-size: 14px; }
    .categoriaBlog a.verMas:hover { width: 100%; }
    .blog .seccion1 .conteRight { display: none; }
    .blog .seccion1 .conteLeft .tituloPost { line-height: inherit; font-size: 20px!important; letter-spacing: 1px; margin: 20px 0; }
    .blog .seccion1 .conteLeft .descPost h2 { text-align: initial!important; line-height: initial; font-size: inherit!important; letter-spacing: inherit!important; }
    .blog .seccion1 .conteLeft .conteCompartir h3 { width: initial; font-size: 18px; }
    .blog .seccion1 .conteLeft .conteCompartir { border: none; padding-bottom: 0; }
}

@media screen and (min-width: 480px) and (max-width: 599px) {
    /*********************** GENERAL ***********************/
    .contenedor { width: 95%; }
	.movil { display: block; }

    /*********************** BLOG ***********************/
    .blog { padding-top: 50px; }
    .blog .seccion1 .conteLeft { width: 100%; }
    .categoriaBlog .itemPost .bg { height: 220px; }
    .blog .seccion1 .conteLeft .col2 li { width: 50%!important; padding-right: 0!important; text-align: center; }
    .infoPost { padding: 8px; font-size: 12px; }
    .categoriaBlog .tituloP { font-size: 16px; }
    .blog .seccion1 .conteLeft p { font-size: 12px; margin: 0;
    	line-height: 18px; }
    .categoriaBlog a.verMas { width: 100%; margin: 0; margin-top: 10px;letter-spacing: 1px; font-size: 14px; }
    .categoriaBlog a.verMas:hover { width: 100%; }
    .blog .seccion1 .conteRight { display: none; }
    .blog .seccion1 .conteLeft .tituloPost { line-height: inherit; font-size: 20px!important; letter-spacing: 1px; margin: 20px 0; }
}

@media screen and (min-width: 600px) and (max-width: 1023px) { 
    /*********************** GENERAL ***********************/
    .contenedor { width: 90%; }

    /*********************** BLOG ***********************/
    .blog { padding-top: 50px; }
    .blog .seccion1 .conteLeft { width: 100%; }
    .categoriaBlog .itemPost .bg { height: 220px; }
    .blog .seccion1 .conteLeft .col2 li { width: 50%!important; padding-right: 0!important; text-align: center; }
    .infoPost { padding: 8px; font-size: 12px; }
    .categoriaBlog .tituloP { font-size: 16px; }
    .blog .seccion1 .conteLeft p { font-size: 12px; margin: 0;
    	line-height: 18px; }
    .categoriaBlog a.verMas { width: 100%; margin: 0; margin-top: 10px;letter-spacing: 1px; font-size: 14px; }
    .categoriaBlog a.verMas:hover { width: 100%; }
    .blog .seccion1 .conteRight { display: none; }
    .blog .seccion1 .conteLeft .tituloPost { line-height: inherit; font-size: 20px!important; letter-spacing: 1px; margin: 20px 0; }
    .categoriaBlog .itemPost { width: 50%; float: left; padding: 10px; }
}
 
@media screen and (min-width: 1024px) and (max-width: 1439px) {
	/********************** H1 - H6 / TEXTOS ************************/
	h1 { font-size: 40px; }
	h2 { font-size: 25px; }
	h3 { font-size: 18px; }
	.textBold { font-size: 17px; }
	p { font-size: 15px; } 
	/*********************** GENERAL ***********************/
	.contenedor { width: 960px; }
	.left { top: 30px; }
	.button { width: 250px; font-size: 15px; }
	.curva { height: 300px; bottom: 10px; }
	.sinPrevio { font-size: 11.5px; }
	.pleca { padding: 3px 40px; }
	/********************** HEADER **********************/
	header .logo { width: 130px; }
	header .medio { padding: 15px 0; }
	.menu { width: 700px; }
	/********************** HOME **********************/
	.bannerPrincipal { height: 650px; }
	.home .seccion2 .conte { padding: 20px 0px 40px 20px; }
	.home .seccion2 .col2 li:nth-child(3), .home .seccion2 .col2 li:nth-child(4), .home .seccion2 .col2 li:nth-child(5) { margin-top: 0px; }
	.home .seccion3 .icono img { width: 80px; }
	.home .seccion4 .imgDepto { width: 400px; }
	.home .seccion4 .conte { padding-top: 100px; }
	.home .seccion4 .left { top: 120px; margin-left: -60px; }
	.home .seccion4 .vineta::before { width: 8px; height: 8px;}
	.home .seccion4 .vineta { line-height: 18px; }
	.home .seccion4 .owl-controls { font-size: 15px; }
	.home .seccion4 .owl-prev, .home .seccion4 .owl-next { padding: 4px 9px; }
	.home .seccion6 .icono { margin-top: 15px; }
	.home .seccion6 .icono img { width: 100px; }
	.home .seccion6 .sinPrevio { margin-top: 20px; }
	.home .seccion6::after { height: 120px; }
	.home .seccion7 .whats .flex { padding: 10px 20px; }
	.home .seccion7 .flex img { width: 30px; }
	.home .seccion7 .ubicacion iframe { height: 718px;}
	#formContacto input, #formContacto textarea { padding: 8px; margin: 5px 0px; }
	/****************** FOOTER ***************/
	.seccion0 { padding: 15px; }
	.seccion0 .logoFooter { width: 150px; }
	.seccion0 .secondLogo { width: 40px; }
	.seccion0 .redesSociales i { font-size: 20px; }
	


}